@model CloserSdk.Models.ItemTypesModel

<div>
    @if (Model.Breakdown.Count() != 0)
    {
        <div>
            <strong>Total : @Model.Breakdown.Count.ToString()</strong>

            <table style="width:100%">
                <thead>
                    <tr>
                        <th style="font-size:small; width:18%">CompositeId</th>
                        <th style="font-size:small; width:35%">Description</th>
                        <th style="font-size:small; width:5%">Deprecated</th>
                        <th style="font-size:small; width:5%; text-align:right" align="right">Questions</th>
                        <th style="font-size:small; width:5%; text-align:right" align="right">Deprecated</th>
                        <th style="font-size:small; width:5%; text-align:right" align="right">Undeprecated</th>
                        <th style="font-size:small; width:5%; text-align:right" align="right">Variables</th>
                        <th style="font-size:small; width:5%; text-align:right" align="right">Deprecated</th>
                        <th style="font-size:small; width:5%; text-align:right" align="right">Undeprecated</th>
                        <th style="font-size:small; width:5%; text-align:right" align="right">Questionnaires</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Breakdown)
                    {
                        switch (item.IsDeprecated)
                        {
                            case true:
                                <tr style="background-color:green; color:white">
                                    <td style="font-size:small; width:18%">@item.CompositeId</td>
                                    <td style="font-size:small; width:35%">@item.Description</td>
                                    <td style="font-size:small; width:5%">@(item.IsDeprecated ? "Yes" : "No")</td>
                                    <td style="font-size:small; width:5%" align="right">@item.Questions</td>
                                    <td style="font-size:small; width:5%" align="right">@item.QuestionsDeprecated</td>
                                    <td style="font-size:small; width:5%" align="right">@item.QuestionsUndeprecated</td>
                                    <td style="font-size:small; width:5%" align="right">@item.Variables</td>
                                    <td style="font-size:small; width:5%" align="right">@item.VariablesDeprecated</td>
                                    <td style="font-size:small; width:5%" align="right">@item.VariablesUndeprecated</td>
                                    <td style="font-size:small; width:5%" align="right">@item.Questionnaires</td>
                                </tr>
                                break;
                            case false:
                                <tr style="background-color:red; color:white">
                                    <td style="font-size:small; width:18%">@item.CompositeId</td>
                                    <td style="font-size:small; width:35%">@item.Description</td>
                                    <td style="font-size:small; width:5%">@(item.IsDeprecated ? "Yes" : "No")</td>
                                    <td style="font-size:small; width:5%" align="right">@item.Questions</td>
                                    <td style="font-size:small; width:5%" align="right">@item.QuestionsDeprecated</td>
                                    <td style="font-size:small; width:5%" align="right">@item.QuestionsUndeprecated</td>
                                    <td style="font-size:small; width:5%" align="right">@item.Variables</td>
                                    <td style="font-size:small; width:5%" align="right">@item.VariablesDeprecated</td>
                                    <td style="font-size:small; width:5%" align="right">@item.VariablesUndeprecated</td>
                                    <td style="font-size:small; width:5%" align="right">@item.Questionnaires</td>
                                </tr>
                                break;
                        }
                    }

                    <tr>
                        <td style="font-size:small; width:15%">Total</td>
                        <td></td>
                        <td></td>
                        <td style="font-size:small; width:5%" align="right">@Model.Breakdown.Sum(x => x.Questions)</td>
                        <td style="font-size:small; width:5%" align="right">@Model.Breakdown.Sum(x => x.QuestionsDeprecated)</td>
                        <td style="font-size:small; width:5%" align="right">@Model.Breakdown.Sum(x => x.QuestionsUndeprecated)</td>
                        <td style="font-size:small; width:5%" align="right">@Model.Breakdown.Sum(x => x.Variables)</td>
                        <td style="font-size:small; width:5%" align="right">@Model.Breakdown.Sum(x => x.VariablesDeprecated)</td>
                        <td style="font-size:small; width:5%" align="right">@Model.Breakdown.Sum(x => x.VariablesUndeprecated)</td>
                        <td style="font-size:small; width:5%" align="right">@Model.Breakdown.Sum(x => x.Questionnaires)</td>

                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>

